body {
  background-color: rgb(58, 67, 165);
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  h1 {
    color: rgb(224, 201, 149);
  }

  .germanNouns {
    .germanNoun {
      background-color: #222;
      margin-bottom: 1rem;
      padding: 1rem;
      display: flex;
      gap: 1rem;
      img {
        width: 3rem;
      }
      .singular {
        color: rgb(228, 179, 87);
      }
    }
  }
}