body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  h1 {
    color: rgb(224, 201, 149);
  }

  .germanNouns {
    .germanNoun {
      background-color: #222;
      margin-bottom: 1rem;
      padding: 1rem;
    }
  }
}